<%# app/views/shared/_card.html.erb %>
<div class="min-h-screen flex items-center justify-center px-4">
  <div class="bg-white shadow-2xl p-8 w-full max-w-md transform transition-all hover:shadow-xl">
    <%= yield %>
  </div>
</div>