<div class="max-w-3xl mx-auto bg-white shadow-2xl p-8 rounded-lg transform transition-all hover:shadow-xl">
  <h2 class="text-lg font-extrabold text-brand-color mb-6">Edit Post</h2>
  <%= render 'form' %>
  <div class="mt-4 text-center text-xs text-gray-600">
    <%= link_to "My Posts", posts_user_path(username: current_user.username), class: "text-brand-color hover:text-brand-color" %>
  </div>
</div>
